@charset "UTF-8";

*{
  box-sizing: border-box;
}

.patient-container img{
  vertical-align: bottom;
  max-width: 100%;
}

.patient-clearfix::after{
  display: block;
  clear: both;
  content: "";
}

.patient-ft-left{
  float: left;
}

.patient-ft-right{
  float: right;
}

.patient-container ul {
  list-style: none;
}

.patient-container a{
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.patient-pc{
  display: block;
}

.patient-tablet{
  display: none;
}

.patient-sp{
  display: none;
}

.patient-container h1, h2, h3, h4, h5{
  font-size: 18px;
}

.patient-container body {
  margin: 0 auto;
  background-color: #F6F8F9;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  max-width: 1920px;
}

.patient-container {
  margin: 0 auto;
}

.patient-main-content{
  background: url(../img/img_patient_main.jpg);
}

.patient-main-text{
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding-top: 200px;
  padding-bottom: 20px;
}

.patient-secondary-text{
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

.patient-btn-emergency{
  border: 1px lightblue solid;
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  margin-left: 36%;
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 200px;
}

.patient-btn-emergency:hover{
  background-color: white;
  color: red;
  transition: 0.5s;
}

.patient-btn-normal {
  border: 1px lightblue solid;
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 200px;
  margin-left: 8%;
}

.patient-btn-normal:hover{
  background-color: white;
  color: red;
  transition: 0.5s;
}

.patient-map{
  margin-top: 30px;
}

.patient-map h2{
  color: #000;
  text-align: center;
  font-size: 40px;
}

.patient-container iframe {
  border: 0;
  margin-left: 10%;
  width: 500px;
  height: 500px;
}

.patient-acc{
  margin-right: 10%;
}

.patient-acc h2 {
  color: #000;
  margin-top: 30px;
  font-size: 40px;
}

.patient-acc p {
  color: #000;
  font-size: 20px;
}

.patient-btn-acc{
  border: 1px lightblue solid;
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 20px;
}

.patient-btn-acc:hover{
  background-color: white;
  color: blue;
  transition: 0.5s;
}
